.Watermark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Watermark * {
  font-weight: 700;
  font-family: 'Montserrat', 'Noto Sans TC', 'Noto Sans', sans-serif !important;
}

.Watermark canvas {
  letter-spacing: 1pt;
}

.Watermark img {
  width: 100%;
}

.Watermark input[type='file'],
.Watermark img[alt='raw'],
.Watermark img[alt='logo'],
.Watermark canvas {
  display: none;
}

.button-margin {
  margin: 1rem 0;
}

.input-width {
  width: 100%;
}
